<div data-id="<%= bookmark.id %>" data-video="<%= bookmark.video.id %>" class="news-item custom-item bookmarks">
  <div class="row">  
    <div class="bookmark news-content no-tip col-md-4">
      <%= link_to '✎', '#', remote: true, class: 'edit-bookmark-button' %>
      <%= link_to '✗', '#', remote: true, class: 'delete-bookmark-button' %>
      <!-- prior to adding destroy event listener to destroy.js -->
      <%#= link_to '✗', delete_bookmark_path(bookmark.video, bookmark), remote: true, method: :delete, class: 'delete-bookmark-button' %>
      <a href="#" class="bookmark" data-time="<%= bookmark.start_time %>"><%= bookmark.title %></a> <span class="duration"> (<%= format_time_duration(bookmark.start_time) %>)</span>
    </div>
  </div>
</div>