<div data-id="<%= note.id %>" data-video="<%= note.video.id %>" class="news-item custom-item notes">
  <div class="row">  
    <div class="note news-content no-tip col-md-4">
      <%= link_to '✎', '#', remote: true, class: 'edit-note-button', title: 'Edit Note' %>
      <%= link_to '✗', delete_note_path(note.video, note), remote: true, method: :delete, class: 'delete-note-button', title: 'Delete Note' %>
      <% if @session %>
        <%= link_to(image_tag('evernote.png'), create_evernote_path(note.video, note), remote: :true, class: 'evernote-button', title: 'Export to Evernote') %>
      <% else %>
        <%= link_to(image_tag('evernote.png'), evernote_login_path, class: 'evernote-button', title: 'Export to Evernote') %>
      <% end %>
      <span class="note-content"><%= markdown(note.content) %></span>
    </div>
  </div>
</div>
