<article class="col-md-4 col-sm-6 project-item">
    <div class="main-link">
      <a href="<%= video_path(video) %>">
        <h3 class="project-title"> <%= video.friendly_title %></h3>
      </a>
    </div>
    <div class="notes-info">
      <% total_notes = video.notes_for_user(current_user).size %>
      <span class="<%= class_for_notes_count('notes-count', total_notes) %>">
        <%= total_notes %>
      </span>
      <span class="<%= class_for_notes_count('notes-text', total_notes) %>">
        <%= 'step'.pluralize(total_notes) %>
      </span>
    <div>
</article>
