<!DOCTYPE html>
<html>
<head>
  <title>Renote</title>
  <link href="http://vjs.zencdn.net/4.10/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.10/video.js"></script>  
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dosis:600,700,800' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>

<header id="home" class="jumbotron">
  <div class="container">
    <h1 class="title">Re/note</h1>
  </div>
  <div class="container">
    <%= form_tag(videos_path) %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= text_field_tag 'url', nil ,placeholder: 'Enter video url', class: "form-control input-lg" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <%= submit_tag 'Go!', class: 'btn btn-qubico btn-block white' %>
      </div>
      <div class="col-md-1" id="or-buttons">
        - or - 
      </div>
      <div class="col-md-3">
        <%= button_tag "Try me out!", id:'try-me-out', class: 'btn btn-qubico btn-block white' %>
      </div>
    </div>

  </div> <!-- end .container -->
</header> <!-- end header -->
</body>
</html>
