<div class="container custom-container">
 <%= render 'notes/modal' %>
  <!-- START content -->
  <div class="row">
    <div id="title" class="col-md-8">
      <% if @video.title %>
        <h2>
          <%= @video.title %>
        </h2>
      <% else %>
          <%= form_for(@video, {remote: true, autocomplete: :off}) do |f| %>
            <div class="form-group" id="no-title">
            <%= f.text_field 'title',  class: "form-control input-lg" %>
            </div>
          <% end %>
      <% end %>
    </div> 

    <div id="filter-works" class="row">
      <ul>
        <li class="active"><a href="#" data-filter=".bookmarks">Bookmarks</a></li> 
        <li><a href="#" data-filter=".notes">My Notes</a></li> 
      </ul>
    </div>
  </div>
  <div class="row">

    <!-- START video -->
    <div class="col-md-8">
      <%= render 'videos/type' %>
    </div>
    <!-- END video -->

  <!--  START notes and bookmark filters  -->
    <div class="col-md-4">
      <!-- START notes -->
        <% if logged_in? %>
          <div class="row">
            <div id="notes" class="container">
              <%= render @notes %>
            </div>
          </div>
      
          <div class="row">
              <%= render 'notes/form' %>
          </div>
        <% else %>    
          <div class="row">  
            <div class="note news-content no-tip col-md-12 custom-item notes">
              <%= link_to "Login to add notes.", '/auth/github' %>
            </div>
          </div>
        <% end %>
      <!-- END notes -->


      <!-- START bookmarks -->
      <div class="row">
        <div id="bookmarks" class="container custom-item bookmarks">
          <%= render @bookmarks %>
        </div>
      </div>
      
      <% if logged_in? %>
      <div class="row">
          <%= render 'bookmarks/form' %>
      </div>
      <% else %>    
        <div class="row">  
          <div class="note news-content no-tip col-md-12 custom-item bookmarks">
            <%= link_to "Login to add or edit bookmarks.", '/auth/github' %>
          </div>
        </div>
      <% end %>
      <!-- END bookmarks -->
    </div>
    <!-- END notes and bookmark filters -->
</div>
<!-- END content -->
</div>
