<video id="the_video" data-id="<%= @video.id %>" class="video-js vjs-default-skin" controls
 preload="auto" width="640" height="264" >
 <source src="<%= @video.url %>" type='video/mp4'>
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>

<ul id="bookmarks">
  
  <%= render @bookmarks %>

</ul>

<ul id="comments">
  
  <%= render @comments %>

</ul>

<% if current_user %>

  <form id="create-bookmark">
    <p>
      <label for="title">Title:</label>
      <input type="text" name="title">
    </p>
    <p>
      <input type="submit" value="Create Bookmark"></input>
    </p>
  </form>

  <form id="create-comment">
    <p>
      <label for="comment-text">Comment:</label>
      <input type="text" name="comment-text">
    </p>
    <p>
      <input type="submit" value="Submit"></input>
    </p>
  </form>
<% else %>
  
  <%= link_to "Login to comment and add bookmarks", '/auth/github' %>

<% end %>