<div class="container custom-container">
  <!-- START content -->
  <div class="row">
    <!-- START title -->
    <!-- <div id="title" class="col-md-8" style="position: fixed; top:120px"> -->
    <div id="title" class="col-md-8">
      <% if @video.title %>
        <h2>
          <%= @video.title %>
        </h2>
      <% else %>
          <%= form_for(@video, {remote: true, autocomplete: :off}) do |f| %>
            <div class="form-group" id="no-title">
            <%= f.text_field 'title',  class: "form-control input-lg" %>
            </div>
          <% end %>
      <% end %>
    </div>
    <!-- END title -->
  </div>

  <div class="row">
    <!-- START video -->
    <div class="col-md-8">
    <!-- <div class="col-md-8" style="position:fixed; top: 175px"> -->
      <%= render 'videos/type' %>
      <!-- START bookmarks form -->
      <div class="col-md-6">
        <% if logged_in? %>
          <div class="row">
            <%= render 'bookmarks/form' %>
          </div>
        <% else %>
          <div class="row">
            <div class="note news-content no-tip col-md-12 custom-item bookmarks">
              <%= link_to "Login to add or edit bookmarks.", '/auth/github' %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- END bookmarks form -->
    </div>
    <!-- END video -->

    <!-- START bookmarks -->
    <!-- <div class="col-md-4 col-md-offset-8"> -->
    <div class="col-md-4 col-md-offset-8" style="top: -400px; float:right">
      <!-- <div class="row"> -->
        <div data-bind="foreach: bookmarks" id="bookmarks" class="container custom-item bookmarks">
          <%#= render @bookmarks %>
          <!-- KO alternative -->
          <div data-id="<%#= bookmark.id %>" data-video="<%#= bookmark.video.id %>" class="news-item custom-item bookmarks">
            <div class="row">
              <div class="bookmark news-content no-tip col-md-4">
                <a data-bind="text: title, click: scan" href="#" class="bookmark"></a>
                <% if logged_in? %>
                <%#= link_to '✎', '#', remote: true, class: 'edit-bookmark-button', title: 'Edit Bookmark' %>
                <%#= link_to '✗', '#', data-bind="click: removeBookmark", class: 'delete-bookmark-button', title: 'Delete Bookmark' %>
                <!-- ####### error: addBookmark not defined ########## -->
                <a href="#" data-bind="click: bookmarksViewModel.addBookmark" class="delete-bookmark-button" title="Delete Bookmark">✗</a>
                <!-- ################# -->
                <% end %>
              </div>
            </div>
          </div>
          <!-- /KO -->
        </div>
      <!-- </div> -->
    </div>
    <!-- END bookmarks -->
  </div>
</div>
<!-- END content -->

<script>ko.applyBindings(new bookmarksViewModel());</script>
