<!DOCTYPE html>
<html>
<head>
  <title>Re.note</title>
  <%= favicon_link_tag '/favicon.ico', type: 'image/x-icon' %>
  <link href="https://vjs.zencdn.net/4.10/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/4.10/video.js"></script>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis:600,700,800' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>

<%= yield %>


<script type="text/template" id="bookmark-template">
  <div data-id="<%= id %>" data-video="<%= video_id %>" class="news-item custom-item bookmarks">
    <div class="row">  
      <div class="bookmark news-content no-tip col-md-4">
      </div>
    </div>
  </div>
</script>
</body>
</html>
